<!DOCTYPE html>
<html>

<head>
    <title>Movie List</title>
    <link rel="stylesheet" href="apifetch.css">
</head>
<body>
    <h1>Movie List</h1>
    <!-- <div id="movie-list"  style=" display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 15px"></div> -->
    <div>
        <table>
            <thead>
                <tr>
                    <th>SN</th>
                    <th>MovieName</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tabledata">

            </tbody>
        </table>
    </div>

    <script src="apifetch.js"></script>
</body>
</html>